<form [formGroup]="form" (ngSubmit)="addCity()" *ngIf="user">

  <mat-form-field appearance="fill">
    <mat-label>Add New City</mat-label>
    <input matInput formControlName="name" placeholder="Tel Aviv">
  </mat-form-field>

    <button mat-button>Save</button>
</form>


<table mat-table [dataSource]="cities" class="mat-elevation-z8">

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} ({{element.email}})</td>
    </ng-container>

    <!-- Data Column -->
    <ng-container matColumnDef="data">
      <th mat-header-cell *matHeaderCellDef> Temperture </th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf=element.data>
          <img [src]="element.data.image" alt="">
          <strong>Info:</strong> {{ element.data.description }}
          <strong>Temperture:</strong> {{ element.data.temperature }}
        </ng-container>
       </td>
    </ng-container>

    <!-- Prediction Column -->
    <ng-container matColumnDef="prediction">
      <th mat-header-cell *matHeaderCellDef> Prediction </th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf=element.predict>
            {{ element.predict }}
        </ng-container>
       </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element">
        <button *ngIf="!element.data" (click)="getData(element)" mat-button color="accent">Get Data</button>
        <button *ngIf="element.data && !element.predict" (click)="predict(element)" mat-button color="accent">Predict</button>
        <button *ngIf="user && element.predict" (click)="saveData(element)" mat-button color="accent">Save</button>
        <button *ngIf="user && element.email === user.email" (click)="deleteCity(element.id)" mat-button color="accent">Delete</button>
      </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
  


  
